<div class="control-group" data-bind="visible: isSensorEnabled()" >
   
   
   
    <div class="controls form-inline">
       <label class="control-label" data-bind="visible: 1"> <small> <span data-bind="text: StatusFlagText"></span></small> {{ _('<i class="fa fa-sun fa-spin" data-bind="visible: isFilamentMoving" title="Moving right now."></i>
      <i class="fa fa-solid fa-pause-circle-o" data-bind="hidden: isFilamentMoving"  title="Not movement right now."></i>') }}</label>
    </div>

   <table>
      <tbody>
         <tr>
            <td style="padding-right: 25px;"> <label class="control-label" title="{{ _('Extrusion distance left to the pause limit.') }}"><small>Distance left: </small><span data-bind="text: remainingDistance"</span><small>left</small></label> </td>

            <td> <label class="control-label" id="time_gone_by" title="{{ _('Time since the last motion of the filament.') }}" ><small>Moved: </small><span data-bind="text: lastMotionDetected" ></span></label> </td>
         </tr>
      </tbody>
   </table>
    
    <div class="row">
      <div class="col-sm-6">
      
         </div>
      <div class="col-sm-6"> </div>
   </div> 
     

   
    <div class="controls form-inline">
       <label class="control-label" data-bind="visible: isConnectionTestRunningBool">{{ _('Test running:') }} <span data-bind="text: isConnectionTestRunningBool"></span></label>
   </div>
</div>

<div class="control-group" data-bind="hidden: isSensorEnabled()" >
   <div class="controls form-inline">
       <label class="control-label" data-bind="hidden: isSensorEnabled()"> <span><small>Disabled</small></span></label>
    </div>
</div>